* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
/* NAV BAR */
nav {
  height: 5.3rem;
  width: 100%;
  padding: 0.2rem;
  padding-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
  background: #c9d2db;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 300ms ease;
}
header {
  display: flex;
}
.scroll-up {
  display: flex;
}
.scroll-down {
  display: none;
}
.flex-display {
  display: flex;
}
.logo {
  flex: 2;
  font-size: 30px;
  font-weight: bolder;
  color: #00bbdc;
  cursor: pointer;
}
.nav-menu {
  flex: 3;
}
.nav-menu ul {
  flex-direction: row;
  justify-content: center;
}
.nav-menu ul li {
  list-style: none;
  margin: 0 1rem;
  padding: 0.7rem 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-menu ul li:hover {
  color: #00bbdc;
}
.burger-menu {
  display: none;
}
.book-appoitment {
  margin: 0 0 0 9rem;
  color: #fff;
  font-weight: bolder;
  padding: 0.7rem 1rem;
  background: #373e48;
  border-radius: 19px;
}
.book-appoitment:hover {
  background: #707b8b;
}

/* HERO SECTION */
#hero {
  height: calc(100dvh - 0rem);
  justify-content: space-around;
  background-image: url("assets/images/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero .banner,
.header {
  height: 60vh;
  width: 50%;
  align-items: center;
}

#hero .header {
  flex-direction: column;
  justify-content: center;
  padding-top: 10rem;
  padding-left: 2rem;
}
#hero .header .header-title {
  margin: 1rem;
  text-align: left;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}
#hero .header .header-details {
  margin: 1rem;
  font-size: 24px;
  line-height: 2rem;
  opacity: 0.7;
}

/* button */
.cta-btn {
  width: 100%;
  padding-top: 2rem;
  flex-direction: row;
  justify-content: space-around;
}
.btn.find-doctor {
  color: #00bbdc;
  background: #fff;
}

.btn.book-an-appointment {
  color: #fff;
  background: #f60102;
}

.btn {
  color: #fff;
  font-weight: 100;
  padding: 0.9rem 1.3rem;
  background: transparent;
  border-radius: 19px;
  border: 0;
  cursor: pointer;
  display: inline;
}
.btn:hover {
  opacity: 0.7;
}
/* top button */

.arrow {
  position: fixed;
  bottom: 1rem;
  right: 0;
  z-index: 111;
  height: 30px;
  width: 30px;
  transform: rotate(180deg);
  background: #fff;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.arrow img {
  position: relative;
}

/* ABOUT */
#about {
  padding-top: 1rem;
  margin: 0 1rem;
  height: calc(100dvh - 5.3rem);
}
#about.flex-display {
  flex-direction: column;
}
.details {
  opacity: 0.7;
  text-align: center;
  padding: 1rem;
}
#about .about-content {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#about .about-description .details {
  width: 40%;
  /* text-align: justify; */
  margin: 2rem auto;
  opacity: 0.7;
  line-height: 1.2rem;
}
#about .about-description p {
  text-align: justify;
  font-size: 17px;
}
/* #about .about-description .details {
} */
#about .about-image {
  width: 50%;
}
#about .about-image img {
  height: 350px;
  width: 90%px;
  border-radius: 0.7rem;
}
#about .title {
  padding: 1rem;
}
.name {
  color: #00bbdc;
  cursor: pointer;
}
#about .about-description .btn {
  background: #00bbdc;
  width: 10rem;
  margin-top: 2rem;
}
/* SERVICES */
#services {
  height: calc(100dvh - 5.2rem);
  background: #d3e5eb;
  padding: 1rem;
}
#services.flex-display {
  flex-direction: column;
}
#services .services-list {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  grid-row: 5rem;
  color: #373e48;
}

#services .services-list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background: #cce0e6;
  text-align: center;
  border-radius: 0.8rem;
}
#services .services-list .item:hover {
  background: #c4dae1;
}
#services .image-doctor-operating {
  width: 40%;
  padding-left: 5rem;
  border-radius: 0.8rem;
}
#services .image-doctor-operating img {
  height: 65dvh;
  width: 100%;
  border-radius: 0.8rem;
}
img:hover {
  opacity: 0.8;
}
#services .services-content {
  padding-top: 4rem;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
}
#services .about-description {
  text-align: center;
}
#services .item img {
  width: 40px;
  height: 40px;
}
/* DOCTORS */
#doctors .doctors-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  grid-row: 5rem;
  color: #373e48;
  text-align: center;
  padding-bottom: 2rem;
}
#doctors .details {
  text-align: center;
  line-height: 2rem;
  padding: 1rem;
  opacity: 0.7;
}
#doctors .doctors-list img {
  height: 200px;
  width: 230px;
  border-radius: 5px;
}
#doctors .doctors-list .doctor-1 p {
  align-items: center;
  width: 20rem;
  padding-left: 5rem;
}
/* find a doctor */
.find-doctor .details {
  margin: 0;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
  background: #00bbdc3c;
  height: 5rem;
  align-items: center;
}
form .btn {
  background: #00bbdc;
  width: 7rem;
  padding: 0.1rem 2rem;
  height: 2.3rem;
}

form div input,
select {
  height: 2rem;
  padding: 0.3rem 0.3rem;
  border: 0;
  background: transparent;
  margin: 0 1rem;
  border-radius: 0.1rem;
  border-bottom: 1px solid #00bbdc;
}
form div input:focus {
  outline: none;
}

/* BOOK APPOINTEMENT */
#book-appointment {
  background: #edeef1;
  height: calc(80dvh - 5rem);
  padding: 1rem;
  padding-top: 5rem;
}

option {
  opacity: 0.7;
  text-align: center;
  padding: 1rem;
}
#book-appointment option:active {
  border: 0;
}
#book-appointment option:focus,
select:focus {
  outline: none;
}
#book-appointment form {
  background: transparent;
}
#book-appointment form .btn {
  width: 10rem;
}
/* POPUP */
/* .popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 2s, top 0.5s;
  z-index: 109;
}
.open-popup {
  visibility: visible;
  top: 200%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #01a89e;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
} */
/* CONTACTS */
#contacts {
  height: 110dvh;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}
/* #contacts .details {
  margin: 0;
  padding: 0;
} */
#contacts form {
  flex-direction: column;
  background: transparent;
  justify-content: start;
}
#contacts form input {
  width: 75%;
}
#contacts form div {
  margin: 0.1rem;
  text-align: center;
  display: flex;
  align-items: center;
  width: 60%;
  padding: 0.7rem;
}
#contacts textarea,
#contacts textarea:focus {
  outline: none;
  opacity: 0.7;
  padding: 2rem 1rem;
  margin: 1rem;
  margin-bottom: 0;
}
#contacts .bttn {
  margin: 0;
  width: 7rem;
  padding: 0.4rem 1rem;
  color: #fff;
  font-weight: 100;
  background: #00bbdc;
  border-radius: 19px;

  border: 0;
  cursor: pointer;
}

.bttn:hover {
  opacity: 0.7;
}

/* EVENTS */
#events {
  height: calc(100dvh - 5.3rem);
  flex-direction: column;
  background: #b2d9e0;
  /* padding: 0 3rem; */
}
#events .title {
  padding: 2rem;
}
.events-list {
  height: 60dvh;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  /* background: ; */
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 2rem;
  opacity: 0.7;
}
.events-feeds {
  flex-direction: row;
}
.event-header {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
}
.event-header .date {
  font-weight: bolder;
  font-size: 20px;
}
.event-header .event-title {
  background: #fff;
  color: #00bbdc;
  font-weight: bold;
  border-radius: 14px;
  width: 30%;
  padding: 0.5rem;
  text-align: center;
  height: 2rem;
}
.topic-speaker {
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  padding: 1rem 0;
}
.event-body {
  flex-direction: column;
  justify-content: start;
}
.event-body p,
div {
  margin: 0.2rem 0;
  font-size: 13px;
}
.event-footer {
  flex-direction: row;
  justify-content: space-between;
}
.event-footer .btn {
  background: #c4dae1;
  padding: 0.4rem 1rem;
  font-weight: bold;
}
.event-footer .donate.btn {
  background: #00bbdc;
}
/* FOOTER */
footer {
  background: #2c3542;
  height: 75dvh;
  padding: 1rem;
}
.footer-header {
  height: 20%;
}
.footer-body {
  color: #fff;
  flex-direction: row;
  justify-content: space-between;
  height: 42%;
  margin-bottom: 1rem;
}
.footer-body .col-1 {
  border-right: 1px solid #fff;
  font-size: 15px;
  opacity: 0.7;
}
.footer-body .col-1 p {
  line-height: 1.5rem;
  text-align: justify;
  padding: 1rem;
}
.footer-body .col-1,
.col-2 {
  width: 50%;
}
.footer-body .col-2 {
  font-size: 19px;
}

.footer-socials {
  color: #fff;
  font-size: 19px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  padding-top: 1rem;
}
li {
  list-style: none;
}
.col-2 form {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}
.col-2 form input {
  width: 70%;
  height: 2rem;
  border: 0;
  padding: 0 1rem;
  border-radius: 12px;
}
.col-2 form input:focus {
  outline: none;
}
.social-icons {
  width: 30%;
  justify-content: space-around;
  align-items: center;
}
.social-icons img {
  width: 40px;
  height: 40px;
  padding-top: 0.1rem;
  cursor: pointer;
}
.copy-right {
  height: 7%;
  text-align: center;
  color: #fff;
  opacity: 0.6;
  font-weight: 100;
  margin-top: 1rem;
  font-size: 12px;
}
/* Burger menu*/
.burger-menu {
  flex-direction: column;
  justify-content: space-between;
  height: 45px;
  width: 55px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.burger-menu span {
  width: 100%;
  height: 1px;
  background: #00bbdc;
  margin: 5px;
  padding: 0.1rem;
  transition: 1s ease;
}
.nav-menu.open {
  max-height: 300px;
  display: flex;
}
.burger-menu.open span:first-child {
  transform: rotate(45deg) translate(9px, 5px);
}
.burger-menu.open span:nth-child(2) {
  opacity: 0;
}
.burger-menu.open span:last-child {
  transform: rotate(-45deg) translate(11px, -10px);
}

.burger-menu span:first-child {
  transform: none;
}
.burger-menu span:nth-child(2) {
  opacity: 1;
}
.burger-menu span:last-child {
  transform: none;
}
/*BREAKPOINTS: 576px, 768px, 992px, and 1200px  */

@media screen and (max-device-width: 576px) {
  /* NAV BAR */
  nav {
    background: #fff;
    position: fixed;
    height: 7rem;
  }
  nav .logo {
    font-size: 40px;
    padding-top: 2rem;
  }
  .nav-menu {
    display: none;
  }
  #book-appointment-menu {
    visibility: hidden;
  }
  .burger-menu {
    display: flex;
  }
  .nav-menu ul {
    flex-direction: column;
    position: absolute;
    right: 5rem;
    margin: 0;
    padding: 0;
    font-size: 25px;
    background: #58c9e03e;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
  }
  /* HERO SECTION */

  #hero {
    width: 100%;
  }
  #hero .header {
    width: 100%;
    height: 100dvh;
    padding-top: 0;
  }
  #hero .banner {
    display: none;
  }
  #hero .header .header-title {
    margin: 0rem;
  }
  #hero .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: 500;
  }
  #hero .header .header-details {
    font-size: 27px;
    line-height: 2.1rem;
    opacity: 1;
  }
  /* buttons */
  .btn {
    font-weight: 400;
    font-size: 20px;
  }

  /* ABOUT */
  #about {
    width: 100%;
    /* padding: 1rem; */
    height: fit-content;
  }
  #about .about-content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #about .about-image {
    width: 70%;
  }
  #about .about-image img {
    height: 40dvh;
    width: 100%px;
    border-radius: 0.4rem;
  }
  #about .about-description p {
    font-size: 20px;
  }

  /* SERVICES */
  #services {
    height: fit-content;
    font-size: 20px;
  }
  #services .services-content {
    flex-direction: column;
  }
  #services .services-list .item {
    margin: 0;
  }
  #services .image-doctor-operating {
    width: 100%;
    padding-left: 0rem;
    border-radius: 0.4rem;
  }
  #services .image-doctor-operating img {
    height: 35dvh;
    width: 100%;
    border-radius: 0.4rem;
  }
  #services .services-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem auto;
  }
  #services .services-list .item {
    width: 40%;
  }
  /* DOCTORS */
  #doctors {
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  #doctors .details {
    font-size: 24px;
  }
  #doctors .doctors-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 5rem;
  }
  #doctors .doctors-list img {
    width: 100%;
  }

  form {
    flex-direction: column;
    height: fit-content;
    padding-bottom: 1rem;
  }
  form div input {
    margin: 1rem;
  }
  #events {
    display: none;
  }
}
/* @media screen and (min-device-width: 577px) and (max-device-width: 768px) {
  body {
    background: blue;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 992px) {
  body {
    background: orange;
  }
}
@media screen and (min-device-width: 993px) and (max-device-width: 1200px) {
  body {
    background: cyan;
  }
} */
