* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
/* NAV BAR */
nav {
  height: 5.3rem;
  width: 100%;
  padding: 0.2rem;
  padding-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
  background: #c9d2db;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 300ms ease;
}
header {
  display: flex;
}
.scroll-up {
  display: flex;
}
.scroll-down {
  display: none;
}
.flex-display {
  display: flex;
}
.logo {
  flex: 2;
  font-size: 30px;
  font-weight: bolder;
  color: #00bbdc;
  cursor: pointer;
}
.nav-menu {
  flex: 3;
}
.nav-menu ul {
  flex-direction: row;
  justify-content: center;
}
.nav-menu ul li {
  list-style: none;
  margin: 0 1rem;
  padding: 0.7rem 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-menu ul li:hover {
  color: #00bbdc;
}
.book-appoitment {
  margin: 0 0 0 9rem;
  color: #fff;
  font-weight: bolder;
  padding: 0.7rem 1rem;
  background: #373e48;
  border-radius: 19px;
}
.book-appoitment:hover {
  background: #707b8b;
}

/* HERO SECTION */
#hero {
  height: calc(100dvh - 0rem);
  justify-content: space-around;
  background-image: url("assets/images/banner-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero .banner,
.header {
  height: 60vh;
  width: 50%;
  align-items: center;
}

#hero .header {
  flex-direction: column;
  justify-content: center;
  padding-top: 10rem;
  padding-left: 2rem;
}
#hero .header .header-title {
  margin: 1rem;
  text-align: left;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}
#hero .header .header-details {
  margin: 1rem;
  font-size: 24px;
  line-height: 2rem;
  opacity: 0.7;
}

/* button */
.cta-btn {
  width: 100%;
  padding-top: 2rem;
  flex-direction: row;
  justify-content: space-around;
}
.btn.find-doctor {
  color: #00bbdc;
  background: #fff;
}

.btn.book-an-appointment {
  color: #fff;
  background: #f60102;
}

.btn {
  color: #fff;
  font-weight: 100;
  padding: 0.9rem 1.3rem;
  background: transparent;
  border-radius: 19px;
  border: 0;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
/* top button */

.arrow {
  position: fixed;
  bottom: 1rem;
  right: 0;
  z-index: 111;
  height: 30px;
  width: 30px;
  transform: rotate(180deg);
}
.arrow img {
  position: relative;
}
/* ABOUT */
#about {
  padding-top: 1rem;
  margin: 0 1rem;
  height: calc(100dvh - 5.3rem);
}
#about.flex-display {
  flex-direction: column;
}
#about .about-content {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#about .about-description {
  width: 40%;
  text-align: justify;
  margin: 2rem auto;
  opacity: 0.7;
  line-height: 1.2rem;
}
/* #about .about-description .details {
} */
#about .about-image {
  width: 50%;
}
#about .about-image img {
  height: 400px;
  width: 90%px;
  border-radius: 0.7rem;
}
#about .title {
  padding: 1rem;
}
.name {
  color: #00bbdc;
  cursor: pointer;
}
#about .about-description .btn {
  background: #00bbdc;
  width: 10rem;
  margin-top: 2rem;
}
/* SERVICES */
#services {
  height: calc(100dvh - 5.2rem);
  background: #d3e5eb;
  padding: 1rem;
}
#services.flex-display {
  flex-direction: column;
}
#services .services-list {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  grid-row: 5rem;
  color: #373e48;
}

#services .services-list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background: #cce0e6;
  text-align: center;
  border-radius: 0.8rem;
}
#services .services-list .item:hover {
  background: #c4dae1;
}
#services .image-doctor-operating {
  width: 40%;
  padding-left: 5rem;
  border-radius: 0.8rem;
}
#services .image-doctor-operating img {
  height: 65dvh;
  width: 100%;
  border-radius: 0.8rem;
}
img:hover {
  opacity: 0.8;
}
#services .services-content {
  padding-top: 4rem;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
}
#services .about-description {
  text-align: center;
}

/* DOCTORS */
#doctors .doctors-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  grid-row: 5rem;
  color: #373e48;
  text-align: center;
}
#doctors .details {
  text-align: center;
  line-height: 2rem;
  padding: 1rem;
  opacity: 0.7;
}
#doctors .doctors-list img {
  height: 200px;
  width: 230px;
  border-radius: 5px;
}
#doctors .doctors-list .doctor-1 p {
  align-items: center;
  width: 20rem;
  padding-left: 5rem;
}
/* find a doctor */
.find-doctor .details {
  margin: 0;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
  background: #00bbdc3c;
  height: 5rem;
  align-items: center;
}
form .btn {
  background: #00bbdc;
  width: 7rem;
  padding: 0.1rem 2rem;
  height: 2.3rem;
}

form div input {
  height: 2rem;
  padding: 0.3rem 0.3rem;
  border: 0;
  background: transparent;
  margin: 0 1rem;
  border-radius: 0.1rem;
  border-bottom: 1px solid #00bbdc;
}
form div input:focus {
  outline: none;
}

/* BOOK APPOINTEMENT */
#book-appointment {
  background: #edeef1;
  height: calc(100dvh - 5rem);
}
#book-appointment form {
  background: transparent;
}
#book-appointment form .btn {
  width: 10rem;
}
